<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTH_BASE_URL</key>
	<string>$(AUTH_BASE_URL)</string>
	<key>RU_API_BASE_URL</key>
	<string>$(RU_API_BASE_URL)</string>
	<key>DE_API_BASE_URL</key>
	<string>$(DE_API_BASE_URL)</string>
	<key>AUTH_BASE_SCHEME</key>
	<string>$(AUTH_BASE_SCHEME)</string>
	<key>AUTH_BASE_HOST</key>
	<string>$(AUTH_BASE_HOST)</string>
	<key>AUTH_BASE_PORT</key>
	<string>$(AUTH_BASE_PORT)</string>
	<key>AUTH_BASE_PATH</key>
	<string>$(AUTH_BASE_PATH)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to unlock the app</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>TWELVE_DATA_API_KEY</key>
	<string>$(TWELVE_DATA_API_KEY)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Millio Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.alekseya.millio.backup</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.millio.app.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>millio</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.alekseya.millio.backup</string>
			<key>UTTypeDescription</key>
			<string>Millio Backup File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>millio-backup</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.millio.backup</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
